<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sample.html</title>
</head>
<body>
    <center>
        <h1 style="color:blue">It is rendered by using render function</h1>
        <h1 style="color:orange">render is the process of interacting with templates folder
            and extracting specified Htmlpage to function
        </h1>
    </center>   
</body>
</html>